{# Utilisation du squelette de base.html.twig #}
{% extends 'base.html.twig' %}


{# Titre de la page #}
{% block title %}Conditions Générales d'Utilisation{% endblock %}

{# Contenu de la page #}
{% block body %}
    <div id="up-page"></div>

    <div class="container-fluid cgu-font-style">

        {# Fond de texte #}
        <div class="background-cgu col-md-8 offset-md-2 col-xl-6 offset-xl-3">

            {# Titre H1 #}
            <div class="row">
                <h1 class="col-12 text-center my-5 h1-cgu-style">conditions générales d'utilisation</h1>
            </div>

            <div class="row">
                <div class="col-12 my-2">
                    {# Utilisations des recettes diffusées sur le site #}

                    <h2 class="text-center red-title">comment utiliser les recettes diffusées sur ce site</h2>

                    <div class ="mx-3">
                        <p>toutes les recettes diffusées sur le site peuvent être utilisées dans le cadre des trois hypothèses décrites ci-dessous selon votre statut.</p>
                        <p>dans tous les cas, vous ne pouvez pas les reproduire pour en faire un usage commercial.</p>
                        <p>les recettes diffusées sur le site sont incorporées dans une base de données appartenant à Git In Taste, vous ne pouvez ni reproduire cette base de données, ni extraire des données contenues dans cette base autrement que pour votre usage privé.</p>
                    </div>
                    <div class="mx-3">
                        <ol>
                            <li>
                                <b>vous êtes un particulier :</b>
                                <p>vous pouvez utiliser toutes les recettes diffusées sur le site pour votre usage privé : repas entre amis ou en famille.</p>
                                <p>n'hésitez pas à donner votre avis sur les recettes en laissant un commentaire.</p>
                                <p>n'hésitez pas à partager vos recettes GEEK et Pop Culture préférées avec la création de recettes.</p>
                                <p>N'hésitez pas à noter les recettes que vous avez aimées pour partager et soutenir la personne ayant posté la recette</p>
                            </li>
                            <li>
                                <b>vous êtes un professionnel : cuisinier, restaurateur</b>
                                <p>vous pouvez utiliser les recettes sans droit de publier la recette elle-même sous 2 conditions :</p>
                                <ul>
                                    <li>retour d'expérience : dans les commentaires pouvant être associés à chaque recette, ou la notation;</li>
                                    <li>visibilité de la source de la recette sur votre menu : " Cette recette vient du site www.geekintaste.fr ".</li>
                                </ul>
                            </li>
                            <li class="my-2">
                                <b >vous êtes une Ecole de formation de cuisine, un élève cuisinier ou une association culinaire</b>
                                <p>vous n'avez pas l'autorisation d'utiliser les recettes sauf accord préalable de GeekInTaste. Contactez-nous pour connaître les possibilités de partenariats : chef@geekintaste.fr .</p>
                            </li>
                        </ol>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 my-2">
                    {# Partage des recette #}
                    <h2 class="text-center red-title">vous avez des recettes, faites-les partager</h2>

                    <div class ="mx-3">
                        <p>allez dans la rubrique " créer une recette " et remplissez le formulaire.</p>
                        <p>en remplissant le formulaire vous garantissez que :</p>
                        <ol>
                            <li>a votre connaissance, cette recette ne vient pas d'un ouvrage ou d'un recueil de recettes ;</li>
                            <li>chaque recette vient d'une œuvre soumise sous copyright, veuillez citer la source et l'origine de l'œuvre dans vos recettes !</li>
                            <li>vous autorisez GEEK IN TASTE à diffuser cette recette sur son site et à l'intégrer dans sa base de données gratuitement ;</li>
                            <li>vous autorisez GEEK IN TASTE à la diffuser, la publier et la reproduire sur le site www.geekintaste.fr ou sur tout autre support. Vous pouvez être cité si vous le souhaitez.</li>
                        </ol>
                    </div>
                </div>
                <div class="col-12 my-2">
                    {# Code de conduite du site #}
                    <h2 class="text-center red-title">code de conduite</h2>

                    <div class ="mx-3">
                        <ol>
                            <li>
                                <b>comment utiliser les logos figurant sur le site :</b>
                                <p>les logos, marques, dessins, illustrations, textes et noms des rubriques figurant sur notre site ne peuvent pas être utilisés, reproduits, modifiés, diffusés, ou empruntés pour créer des œuvres dérivées sans notre autorisation.</p>
                                <p>les marques citées sont déposées par leurs propriétaires respectifs et sont protégées par le droit des marques. Le contenu des publicités sponsorisées est également protégé par le droit de la propriété intellectuelle. Ces éléments ne peuvent donc pas être utilisés, reproduits, modifiés, diffusés, ou empruntés pour créer des œuvres dérivées sans l'autorisation de leurs titulaires respectifs.</p>
                            </li>
                            <li>
                                <b>Geek In Taste demande aux utilisateurs de ses services de respecter les droits de propriété intellectuelle d'autrui</b>
                                <p>dès lors, si vous considérez que votre marque ou votre œuvre a été copiée ou est utilisée d'une manière susceptible de porter atteinte à vos droits tels que reconnus par la législation française sur le site Geek In Taste, merci d'en informer les administrateurs du site Geek In Taste par courrier électronique : chef@geekintaste.fr .</p>
                            </li>
                            <li>
                                <b>utilisation des pages du site</b>
                                <p>vous vous engagez à ne pas vous servir du site Geek In Taste pour :</p>
                                <ol>
                                    <li>télécharger, envoyer, transmettre par e-mail ou de toute autre manière tout contenu qui soit illégal, nuisible, menaçant, abusif, constitutif de harcèlement, diffamatoire, vulgaire, obscène, menaçant pour la vie privée d'autrui, haineux, raciste, ou autrement répréhensible ;</li>
                                    <li>porter atteinte d'une quelconque manière aux utilisateurs mineurs. Geek In Taste se réserve le droit, à ce titre ou lorsqu'une contribution est contraire à la ligne éditoriale de son site (sans que cela ne constitue une obligation) de supprimer tout contenu disponible via son site.</li>
                                </ol>
                                <p class="my-2">en cas d'urgence, prévenir les administrateurs du site</p>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="col-12 my-2">
                    {# Responsabilité du site #}
                    <h2 class="text-center red-title">responsabilité</h2>

                    <div class ="mx-3">
                        <ol>
                            <li>
                                <p>Geek In Taste ne garantit pas le résultat des recettes diffusées sur son site, ni leur qualité. Geek In Taste ne garantit pas que les recettes répondront aux attentes des internautes ou que leurs résultats seront exacts et fiables.</p>
                                <p>En conséquence, la responsabilité de Geek in Taste ne saurait être engagée en cas d'erreur ou d'omission dans l'une de ces recettes, textes, informations ou illustrations diffusées sur son site.</p>
                            </li>
                            <li>
                                <p>Des liens hypertextes peuvent renvoyer vers d'autres sites que le site Geek In Taste</p>
                                <p>Geek In Taste dégage toute responsabilité dans le cas où le contenu de ces sites serait contraire à la réglementation en vigueur.</p>
                            </li>
                            <li>
                                <p>Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité.</p>
                                <p>En conséquence, Geek In Taste ne saurait être tenu responsable d'un quelconque dommage subi par l'ordinateur de l'utilisateur ou d'une quelconque perte de données consécutives au téléchargement.</p>
                            </li>
                            <li>
                                <p>Tout utilisateur du site geekintaste.fr s'engage à garantir et indemniser geekintaste.fr contre tout dommage, plainte ou demande émanant de tiers consécutif à l'envoi, la diffusion ou la transmission de contenu sur le site www.geekintaste.fr</p>
                            </li>
                        </ol>
                    </div>
                    <div class="row">
                        <div class=" col-1 offset-10 col-md-1 offset-md-10 col-xl-1 offset-xl-11">
                            {# Retour en haut de la page #}
                            <a href="#up-page" class="anchor-cgu-style"><i class="fa-solid fa-arrow-up"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
