{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <div class="container-fluid" >

        <h1 class="col-12 text-center py-5">Coming Soon...</h1>

        <div class="text-center">
            <img class="img-fluid col-10 col-md-8 col-lg-4 border border-light rounded" src="{{ asset('images/pexels-photo-211122.jpeg') }}" alt="">
        </div>

    </div>

{% endblock %}