{% extends 'base.html.twig' %}
{% block title %}Mes recettes favorites{% endblock %}


{% block body %}

    {# Menu principal #}
    {% include '_partials/_main_profil_slidebar.html.twig' %}

    <div class="container-fluid">
        <div class="row">
            <div id="main">
                <!-- Add all your websites page content here  -->
            </div>
        </div>
    </div>


{% endblock %}

